div.components
  box:compon
  comm-header This Header
    h1 Header One
    h2 Header Two
  comm-navbar:top(name="qzone", weibo=weibo)
  div.list
    ul
      li one
      li two
      li three
  comm-navbar:bottom