div.components
  box:compon
  include comm/header
  comm-header This Header
    h1 Header One
    h2 Header Two
  if weibo !== 'qq'
    comm-navbar:top(name="qzone", weibo=weibo)
  div.list
    ul
      li one
      li two
      li three
  each value in [1,2,3]
    comm-navbar:bottom