extends(title='#{title}', keywords=['&&""<>build','html'], src='extends_bg') layout
replace main
  div.main(id='main', src='extends_bg', src='#{title}') This replace Main
replace main
  div this is replace #{title} two
  extends box
  before title
    h1 haha is #{title}
  after title
    h1 this is after
before main
  div this is before
after main
  div this is after
after footer
  div.footer(id='footer') This is replace Footer
  div This is include Module Top
    include(style='top') module:top
  div This is include Module Bottom
    include(style='bottom') module:bottom