extends(title=title) layout
replace main
  div.main(id='main', src='extends_bg') This replace Main
replace footer
  div.footer(id='footer') This is replace Footer
  div This is include Module Top
    include(style='top') module:top
  div This is include Module Bottom
    include(style='bottom') module:bottom