extends(name='qq"""', age="year_old", sex="sex?'male':'female'", comment="this is #{title}") layout
replace main
  div(id='qq') weibo
replace footer
  div 继承 #{title}
  include(name='qq"""', age="year_old", sex="sex?'male':'female'", comment="this is #{title}") module