doctype html
html
  head
    meta(charset='utf-8')
    title Page: #{title}
  body
    header.header(id="header")
      block header
    main.main(id="main")
      block main
    footer.footer(id="footer")
      block footer