doctype html
html
  head
    meta(charset='utf-8')
    title #{title}
    meta(name='keywords', content=keywords)
  body
    header.header(id="header", src='layout_bg')
      block header
        div Header
    main.main(id="main")
      block main
        div Main
    footer.footer(id="footer")
      block footer
        div Footer