extends(name='one') box!test
replace title
  div Box Title One
replace content
  div Box Content One
extends(name='one') box:test
replace title
  div Box Title One
replace content
  div Box Content One
extends(name='two') box
replace title
  div Box Title Two
replace content
  div Box Content Two