div.box(qq='ewr"werw><>>>&&&;"', class="#{weibo}")
  div.title
    span(class="icon-star", data-url="url", data-name="qq#{name}", test='werwr""')
    | 包含 #{title} sdf""''sdf
  div.content
    p this is a module

    p module's class will be add prefix auto;
    img(src="http://qzone.qq.com", alt="image")
div.footer this is footer