div.box(class="#{type}")
  div.title
    span(class="icon-star", data-url="url")
    | Title : #{title}
  div.content
    p this is a module

    p module's class will be add prefix auto;
    img(src="http://qzone.qq.com", alt="image")
div.footer this is footer