div.box(
    title='name',
    style=style,
    colors=['red','blue','green'],
    name={
      first: 'simon',
      last: 'hao'
    }
    src='module_bg'
  ) This is Module
  div.title
    button(id='click') 点击我
  div.content
    div(class='caption') On Class
    div(class='section line') Class List
    div(class='qq#{style}') Interpolation Class