div.test
  // this is comment
  - console.log(title);
  | this is text
  include(style='qqq-we', qq=123, name={name:'123'}) module.jade
  | this is line
  div this is text
    span qzone
    | weibo
  script.
    console.log(qzone);
    alert('test');